@import url(./menu-mobile.css);

.header__button-theme {
  display: flex;
  justify-content: end;

  margin: 5.4rem 0 5.3rem;
}

.button-theme {
  width: 6.32rem;

  background-color: #472673;

  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 5rem;

  padding: 0.2rem 0.3rem;

  cursor: pointer;
}

.button-theme span {
  background-color: #5821a6;

  padding: 0.5rem;

  border-radius: 5rem;

  color: #f3f3f3;
}
